<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Edit a User</h1>
      <p>
       Name: <input type="text" name="name" value="<%=user.name%>"><br>
       Username: <input type="text" name="username" value="<%=user.username%>"><br>
       Password: <input type="text" name="password" value="<%=user.password%>"><br>
       Location: <input type="text" name="location" value="<%=user.location%>"><br>
       Sex: <input type="radio" name="sex" value="<%=user.sex%>"><br>
       Image: <input type="text" name="img" value="<%=user.image%>"><br>
       Submit: <input type="submit" name="submit" id="">
       <a href="/user/<%=user.id%>/edit">Edit User</a>
       </p>
</body>
</html>