<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>
        <%=user.name %>'s page</h1>
    <nav>
        <ul>
            <li><a href="/user">Home</a></li>
            <li><a href="/ex/new">Add Ex</a></li>
        </ul>
    </nav>
    <img src="<%=user.img%>" alt=""></br>
    <p>From:
        <%= user.location %>
    </p>

    <form action="/user/<%=user.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete User">
    </form><br />

    <h1>
        <%=user.name %>'s Exes</h1>
    <ul>
        <% for (let i = 0; i < user.ex.length; i++) { %>
        <li><a href="/ex/<%=user.ex[i].id%>">
                <%=user.ex[i].name%></a></li>
        <% } %>


    </ul>


    </main>


</body>

</html>
